<div class="main">
    <div class="header-item">
        <div class="navbar-brand"><img routerLink="/home" src="./assets/images/Logo_Ananas_Header.svg"></div>
        <div class="row"><a routerLink="/Product/product-list">Sản Phẩm</a></div>
        <div class="line"></div>
        <div class="row"><a>Nam</a></div>
        <div class="line"></div>
        <div class="row"><a>Nữ</a></div>
        <div class="input-text">
            <input class="input-text-chird" type="text" [(ngModel)]="searchTerm" (keydown)="search($event)"
                placeholder="Tìm kiếm">
        </div>
    </div>
    <div class="main-header">
        <div class="main-header-item ">
            <i class="fa-solid fa-arrow-left"></i>
            <div class="quylovebichdu">Quý thích bích du</div>
            <i class="fa-solid fa-arrow-right"></i>
        </div>

    </div>
</div>