<div class="main">
    <div class="header-item">
        <div class="navbar-brand"><img src="./assets/images/Logo_Ananas_Header.svg"></div>
        <div class="row"><a  >Sản Phẩm</a></div>
        <div class="line"></div>
        <div class="row"><a>Nam</a></div>
        <div class="line"></div>
        <div class="row"><a>Nữ</a></div>
        <div class="input-text">
            <input class="input-text-chird" type="text" [(ngModel)]="searchTerm" (keydown)="search($event)"
                placeholder="Tìm kiếm">
        </div>
    </div>
</div>