<!-- <button (click)="searchNu()">Nữ</button>
    <button (click)="searchNam()">Nam</button> -->
<!-- routerLink="Product/product-detail/{{item.id}}" -->
<div class="fs">
    <div class="product-list"
        *ngFor="let item of products | paginate:{itemsPerPage:12,currentPage:p} |filter:searchkey:'ShoeName'"
        routerLink="/Product/product-detail/{{item.id}}">
        <div class="product-item">
            <img routerLink="/Product/product-detail/{{item.id}}" src="{{ item.img }}" alt="" />
            <div class="product-details">
                <a routerLink="/Product/product-detail/{{item.id}}">
                    <h3 class="product-name">{{ item.ShoeName }}</h3>
                </a>
                <h3>---------------------</h3>
                <h3 class="product-color">{{ item.color }}</h3>
                <h3 class="product-price">{{ item.price | currency:'VND':'' }} VND</h3>
                <h3>{{ item.gender }}</h3>
            </div>
        </div>
    </div>
    <!-- phân trang -->
    <div class="paigation">
        <pagination-controls class="pg" (pageChange)="p =$event"></pagination-controls>
    </div>
</div>