<div class="product-list">
    <h1>All Product List</h1>
    <p class="p-mess">{{productMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Tên giày</th>
                <th>Hình Ảnh</th>
                <th>Mã</th>
                <th>Giá (VNĐ)</th>
                <th>Size</th>
                <th>Màu sắc</th>
                <th>Số lượng</th>
                <th>Giới tính</th>
                <th>Xóa</th>
                <th>Cập nhật</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td>{{item.ShoeName}}</td>
                <td><img src="{{item.img}}" alt=""></td>
                <td>{{item.code}}</td>
                <td>{{item.price}}</td>
                <td>{{item.size}}</td>
                <td>{{item.color}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.gender}}</td>
                <td><button (click)="deleteProduct(item.id)">Delete</button></td>
                <!-- <td><button routerLink="/seller-update-product/{{item.id}}">Update</button></td> -->
            </tr>
        </tbody>
    </table>
</div>