.wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 400px;
	background: #393646;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
	padding: 20px;
	color: #fff;
}

.input {
	background: #F5EBEB !important;
	border-radius: 4px;
	padding-left: 8px;
}

.container h1 {
	text-align: center;
	padding-top: 20px;
}

.container form {
	padding: 0 40px;
}

form .form-control {
	position: relative;
	margin: 20px 0;
}

.form-control input {
	width: 100%;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.text-danger {
	color: red;
}

.btn {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #394867;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;

}

.btn:hover {
	background-color: #08609a;
}

.mg-t {
	margin-top: 20px;
	display: flex;
	text-align: center;
	justify-content: center;
	cursor: pointer;
}