<div class="details" *ngIf="product">
    <div class="img">
        <div class="img-item"> <img src="{{product.img}}"></div>
    </div>
    <div class="item-total">

        <div class="inname-item">
            {{product.ShoeName}}
        </div>
        <div class="code-product">
            <strong class="code-product-item"> Mã sản phẩm : {{product.code}}</strong>
        </div>
        <div class="price">{{product.price |currency:'VND':''}} VND</div>
        <div class="line"></div>
        <div class="colors">{{product.color}}</div>
        <div class="line"></div>
        <div class="flex-quatity-size">
            <div class="name-space">
                <span class="span-name">Size</span>
                <select name="size" class="opton-em" [(ngModel)]="selectedOption" required>
                    <option [value]="item" class="input-text" *ngFor="let item of product.size">{{item}}</option>
                </select>
                <div *ngIf="!selectedOption && submitAttempted" class="error-message">Bạn chưa chọn size giày</div>
            </div>
            <div class="name-number">
                <span class="span-name">Số Lượng</span>
                <input class="input-text" value="{{number}}">
            </div>
            <div class="button-click">
                <button class="button-click-item" (click)="handleClickPlus()">+</button>
                <button class="button-click-item-down" (click)="handleClickMinus()">-</button>
            </div>

        </div>

        <div class="buton-chird">
            <button class="button-chird-item" (click)="addToCart()">Thêm Vào Giỏ Hàng</button>
            <button class="button-chird-item-node" (click)="addToPay()">Thanh Toán</button>
        </div>
    </div>

</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<app-footer></app-footer>