/* .details {
    margin-top: 150px;
    margin-left: 150px;

}

.img-item {
    width: 636px;
    height: 633px;
}

.img-item:hover {
        transform: scale(1.2);
        transition: transform 0.5s ease;
}



.inname-item {
    font-family: GeometricExtraBold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.4em;
}



.price {
    margin-top: 30px;
    font-size: 23px;
    color: #f15e2c;
}

.line {
    margin-top: 30px;
    border-bottom: 2px dashed #ccc;
}

.colors {
    margin-top: 30px;
    font-size: 23px;
    color: #f15e2c;
}

.span-name {
    font-size: 25px;
}

.name-space {
    margin-top: 25px;
    font-weight: 600;
}

.opton-em {

    margin-top: 10px;
    border-radius: 4px;
    background-color: #fff;
    border: #a5a5a5 1px solid;
    font-family: NunitoSanExtraBold;
    font-size: 18px;
    width: 45%;
    padding-right: 25px;
}

.name-number {
    font-weight: 600;
    float: right;
    position: relative;
    bottom: 58px;
    left: 65px
}

.input-text {
    margin-top: 5px;
    border-radius: 4px;
    font-size: 18px;
    width: 60%;
    background-color: #fff;
    border: #a5a5a5 1px solid;
}

.span-name {
    display: flex;
}

.button-click {
    float: right;
    position: relative;
    right: 45px;
    width: 55px;
    top: 3px;
    display: flex;

}

.button-click-item {
    width: 25px;
    height: 25px;
    color: black;
    background-color: chocolate;
    border: none;
    cursor: pointer;
}

.button-click-item-down {
    width: 25px;
    height: 25px;
    position: relative;
    left: 5px;
    color: black;
    background-color: darkorchid;
    border: none;
    cursor: pointer;
}

.buton-chird {
    width: 100%;
    height: 100px;
}

.button-chird-item {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    background-color: black;
    border: none;
    cursor: pointer;
}

.button-chird-item-node {
    width: 100%;
    height: 45px;
    color: white;
    font-weight: 700;
    background-color: #f15e2c;
    border: none;
    cursor: pointer;
}

.button-chird-item-clinet {
    width: 45%;
    height: 45px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    background-color: darkblue;
    border: none;
    cursor: pointer;
    margin-left: 19px;
} */
.details {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    padding-right: 250px;
}


.img-item img {
    border-radius: 15px 50px 30px
}

.img-item:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.item-total {
    padding-left: 125px;
}

.inname-item {
    font-size: 30px;
    font-weight: bold;
    color: #00425A;
}

.code-product {
    margin-top: 30px;
}

.code-product-item {
    font-weight: bold;
}

.price {
    margin-top: 30px;
    font-size: 18px;
    color: #f15e2c;
    font-weight: bold;
}

.line {
    margin-top: 30px;
    border-bottom: 2px dashed #ccc;
}

.colors {
    margin-top: 30px;
    font-size: 18px;
    color: #f15e2c;
    font-weight: bold;
}

.flex-quatity-size {
    display: flex;
    margin-top: 30px;
}

.span-name {
    font-size: 18px;
}



.name-space .opton-em {
    border-radius: 4px;
    background-color: #fff;
    border: #a5a5a5 1px solid;
    font-size: 18px;
    width: 180%;

}

.input-text {
    border-radius: 4px;
    background-color: #fff;
    border: #a5a5a5 1px solid;
    font-size: 18px;

}

.name-number {
    margin-left: 60px;
}

.button-click {
    float: right;
    display: flex;
    margin-top: 20px;
    margin-left: 5px;

}

.button-click-item {
    width: 25px;
    height: 25px;
    color: black;
    background-color: chocolate;
    border: none;
    cursor: pointer;
}

.button-click-item-down {
    width: 25px;
    height: 25px;
    position: relative;
    left: 5px;
    color: black;
    background-color: darkorchid;
    border: none;
    cursor: pointer;
}

.buton-chird {
    width: 100%;
    height: 100px;
    margin-top: 30px;
}

.button-chird-item {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.button-chird-item-node {
    width: 100%;
    height: 45px;
    color: white;
    font-weight: 700;
    background-color: #f15e2c;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.button-chird-item:hover,
.button-chird-item-node:hover {
    background-color: #6C9BCF;
    color: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.button-chird-item-clinet {
    width: 45%;
    height: 45px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    background-color: darkblue;
    border: none;
    cursor: pointer;
    margin-left: 19px;
}

.error-message {
    color: red;
    display: inline-block;
}