<div class="details" *ngIf="product">
    <div class="img">
        <div class="img-item"> <img src="{{product.img}}"></div>
    </div>
    <div class="item-total">
        <div class="inname-item">{{product.ShoeName}}</div>
        <div class="code-product">
            <strong class="code-product-item"> Mã sản phẩm : {{product.code}}</strong>
        </div>
        <div class="price">{{product.price |currency:'VND':''}} VND</div>
        <div class="line"></div>
        <div class="colors">{{product.color}}</div>
        <div class="line"></div>
        <div class="name-space">
            <div>
                <span class="span-name">Size</span>
            </div>
            <select name="size" class="opton-em" [(ngModel)]="selectedOption">
                <option [value]="item" class="option-item" *ngFor="let item of product.size">{{item}}</option>
                <div> ban chua chon size</div>
            </select>
        </div>
        <div class="name-number">
            <span class="span-name">Số Lượng</span>
            <input class="input-text" type="text" value="{{number}}">
            <div class="button-click">
                <button class="button-click-item" (click)="handerclickplus()">+</button>
                <button class="button-click-item-down" (click)="handerclickminus()">-</button>
            </div>
        </div>
        <div class="buton-chird">
            <button class="button-chird-item" (click)="AddToCart()">Thêm Vào Giỏ Hàng</button>
            <button class="button-chird-item-node" (click)="AddToPay()">Thanh Toán</button>
        </div>
    </div>

</div>
