<ng-container *ngIf="true">
    <div class="card-table">
        <div class="card-product">
            <table class="table-table-responsive">
                <thead>
                    <tr>
                        <th>Tên Giày</th>
                        <th>Hình ảnh</th>
                        <th>Giá</th>
                        <th>Size</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                        <th>Hoạt động</th>

                    </tr>
                </thead>
                <tr>
                    <td>Giày nữ</td>
                    <td>Giày nữ</td>
                    <td>Giày nữ</td>
                    <td>Giày nữ</td>
                    <td>Giày nữ</td>
                    <td>Giày nữ</td>
                    <td><button class="btn btn-danger">Xoá</button></td>

                </tr>
            </table>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="false">
    <div class="center">
        <h4>Bạn chưa mua hàng</h4>
        <h5>Vui lòng quay lại mua hàng!</h5>
        <button routerLink="Product/Product-list">Shop now</button>
    </div>
</ng-container>