<app-header></app-header>
<div class="navbar">
  <div class="header-item">
      <a routerLink="/all-product-order" routerLinkActive="choose">
          Tất cả
      </a>
      <a routerLink="/purchase-status/0" routerLinkActive="choose">
          Chờ thanh toán
      </a>
      <a routerLink="/purchase-status/2" routerLinkActive="choose">
          Hoàn Thành
      </a>
      <a routerLink="/purchase-status/-1" routerLinkActive="choose">
        Đã hủy
      </a>
      <a routerLink="/history" routerLinkActive="choose">
        Lịch sử
      </a>
</div>
</div>

