<div class="main">
    <header class="header">
        <div class="h1-item" routerLink="Home">
            Shop Shoes
        </div>
        <ul class="header-item">
            <li><a routerLink="/login"><img style="height: 15px; margin-right:5px; margin-bottom: -1px;"
                        src="./assets/images/userth.png"> Đăng nhập</a></li>
            <li><a routerLink="/card"><img style="height: 15px; margin-right:8px; margin-bottom: -3px;"     
                        src="./assets/images/carts.png" alt="">Giỏ
                    Hàng</a></li>
        </ul>
    </header>
</div>