<div class="main">
  <header class="header">
    <div class="h1-item" routerLink="/home">Shop Shoes</div>
    <ul class="header-item">
      <li>
        <button class="btn" (click)="login()" *ngIf="!nameLogin"
          ><img
            style="height: 15px; margin-right: 5px; margin-bottom: -1px"
            src="./assets/images/userth.png"
          />Đăng nhập</button
        >
        <a *ngIf="nameLogin" class="account"
          ><img
            style="height: 15px; margin-right: 5px; margin-bottom: -1px"
            src="./assets/images/userth.png"
          />{{ nameLogin }}
          <ul class="sub-account">
            <li class="sub-item-account" routerLink="/all-product-order">Đơn mua</li>
            <li class="sub-item-account" (click)="logout()">Đăng xuất</li>
          </ul>
        </a>
      </li>
      <li>
        <a routerLink="/cart"
          ><img
            style="height: 15px; margin-right: 8px; margin-bottom: -3px"
            src="./assets/images/carts.png"
            alt=""
          />Giỏ Hàng({{ cartItems }})</a
        >
      </li>
    </ul>
  </header>
</div>
