<div class="sider">
    <div class="sider-nav">
        <div class="sider-nav-item"><a>Tất cả</a></div>
        <div class="line"></div>
        <div class="sider-nav-item"><a>Nam</a></div>
        <div class="line"></div>
        <div class="sider-nav-item"><a>Nữ</a></div>
    </div>
    <div class="line-item">
    </div>
    <div class="sider-nav-color">
        <span>Màu sắc</span>
        <ul>
            <div class="box" *ngFor="let cl of products">
                <div class="box-item">
                </div>
                <li><a>{{cl.color}} </a></li>
            </div>
        </ul>
    </div>

</div>