/* You can add global styles to this file, and also import other style files */
html {
    width: auto;
    height: 100%;
    margin: 0px !important;
    padding: 0px;
}

body {
    margin: 0px !important;
    font-family: 'Times New Roman', Times, serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.common-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 300px;
}
.form-input{
    height: 35px;
}
.p-mess{
    margin-top: 20px;
    color: green;
}