/* home */
.main-banner {
  position: relative;
  height: 600px;
  background-image: url('https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-text h2 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 30px;
}

.banner-text p {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
}

.banner-text button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-text button:hover {
  background-color: #fff;
  color: #000;
}

.banner-text .btn-shop-now {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  background-color: #000;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.banner-text .btn-shop-now:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* catagory */
.category-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.category-card {
  width: 30%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.category-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.category-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.category-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.category-button:hover {
  background-color: #333;
}


/* card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 470px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: calc(25% - 10px);
  margin-bottom: 20px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.card p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card button:hover {
  background-color: #333;
}
/* product overview text */
.product-overview {
  text-align: center;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* load more text */
.load-more {
display: flex;
justify-content: center;
margin-top: 30px;
margin-bottom: 80px;
}

.load-more button {
background-color: #000;
color: #fff;
border: none;
padding: 15px 30px;
border-radius: 30px;
cursor: pointer;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
margin: 0 10px;
transition: all 0.3s ease;
}

.load-more button:hover {
background-color: #fff;
color: #000;
}

/* footer */
footer {
  background-color: #f2f2f2;
  padding: 50px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex-basis: 25%;
  margin-bottom: 30px;
}

.footer-col h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

li a:hover {
  color: #333;
}

.footer-col img {
  max-width: 150px;
  margin-top: 20px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.5;
  color: #777;
  margin-top: 20px;
}