<div class="wrapper">
  <div class="container">
    <h1>Đăng ký</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" method="post">
      <div class="form-control">
        <label for="fullName">Họ tên:</label>
        <input type="text" formControlName="fullName" class="input" />
      </div>
      <div *ngIf="
          userForm.controls['fullName'].invalid &&
          (userForm.controls['fullName'].dirty ||
            userForm.controls['fullName'].touched)
        ">
        <small class="text-danger" *ngIf="userForm.controls['fullName'].hasError('required')">Vui lòng nhập họ
          tên</small>
      </div>

      <div class="form-control">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="input" />
      </div>
      <div *ngIf="
          userForm.controls['email'].invalid &&
          (userForm.controls['email'].dirty ||
            userForm.controls['email'].touched)
        ">
        <small class="text-danger" *ngIf="userForm.controls['email'].hasError('required')">Vui lòng nhập email</small>
        <small class="text-danger" *ngIf="userForm.controls['email'].hasError('email')">Email không hợp lệ</small>
      </div>

      <div class="form-control">
        <label for="username">Tài khoản:</label>
        <input type="text" formControlName="username" class="input" />
      </div>
      <div *ngIf="
          userForm.controls['username'].invalid &&
          (userForm.controls['username'].dirty ||
            userForm.controls['username'].touched)
        ">
        <small class="text-danger" *ngIf="userForm.controls['username'].hasError('required')">Vui lòng nhập tài
          khoản</small>
      </div>

      <div class="form-control">
        <label for="password">Mật khẩu:</label>
        <input type="password" formControlName="password" class="input" />
      </div>
      <div *ngIf="
          userForm.controls['password'].invalid &&
          (userForm.controls['password'].dirty ||
            userForm.controls['password'].touched)
        ">
        <small class="text-danger" *ngIf="userForm.controls['password'].hasError('required')">Vui lòng nhập mật khẩu</small>
        <small class="text-danger" *ngIf="userForm.controls['password'].hasError('minlength')">Mật khẩu chứa ít nhất 8 ký tự</small>
      </div>
        <button class="btn" type="submit">Đăng ký</button>
      <div class="mg-t">
        <a>Bạn đã có tài khoản? <button (click)="login()">Đăng nhập</button></a>
      </div>
    </form>
  </div>
</div>
